body {
	font-family: sans-serif;
    overflow: initial !important;
}

html,
.fullscreen {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
    background-color: black;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li{

    text-align: -webkit-match-parent;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
}

li>a{
    background: #161616;
    padding: 13px 25px 13px 25px;
    border: 0;
    margin: 0;
    font-size: 13px;
    font-family: '맑은고딕', MalgunGothic;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.title {
	font-size: 3rem;
}

.main_img {
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    background-image:url(../images/index/bg_battleground_m_v3.jpg)
}
.main{
    position: relative;
    height: 100%;
    width: auto;
    background: white;
    display: block;
    padding: 50px;
}

.main_img .main_txt {
    position: absolute;
    top: 136px;
    left: 31px;
    font-size: 13px;
    line-height: 20px;
    color: white;
    font-family: '맑은고딕', MalgunGothic;
}

.main_img a.btn_gate {
    position: absolute;
    top: 230px;
    left: 31px;
    width: 105px;
    height: 35px;
    padding: 9px 0px;
    background: url(../images/index/btn_intro.png) no-repeat;
    background-size: 105px auto;
    font-family: SeoulNamsan;
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.site-title{
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 1.2;
    z-index: 10;
    float: left;
    display: block;
}

.site-title a{
    display: block;
    overflow: hidden;
    width: 42px;
    height: 25px;
    padding: 0;
    margin: 10px 10px;
    background: url(../images/index/img_logo_m_v2.png) no-repeat;
    background-size: 42px 25px;
    line-height: 999px;
    animation: none;
    transition: none;
}

.sidebar{
    width: auto;
    height: 45px;
    position: relative;
    padding: 5px 5px;
}

.h_tit{

    letter-spacing: -3px;
    font-weight: 400;
    font-size: 15px;
    color: #f09a09;
}

h2{
    margin-top: 16px;
    font-size: 13px;
    letter-spacing: -2px;
    color: #333;
}

.content{
    display: block;
    box-sizing: border-box;
    font-family: SeoulNamsan, MalgunGothic;
    font-size: 16.8px;
    font-stretch: 100%;
    font-style: normal;
    width: 100%;
    height: 100%;
}

.content p{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 24px;
    font-family: '맑은고딕', MalgunGothic;
    color: #5b5b5b;
}

.v_img{
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 163px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
}

img{
    height: auto;
}